.DS_Store
node_modules
/dist
*.zip
release

# local env files
.env.local
.env.*.local

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.lock
*.idea
*-lock.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lock files

# Yarn v2
.pnp.*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.npmrc
.yarnrc
# config
/gitbit
/github
src/config/ignore
# files
public/assets/js/*
public/assets/css/*
