$link_color: 'red';
$width: 100%;
.test {
  width: $width;
  height: auto;
  padding: 20px;
  color: $link_color;
  //父类选择器
  &:hover {
    color: blue;
  }

  body.ie & {
    color: green;
  }

  a {
    color: yellow;
  }

  //群组选择器
  h1,
  h2,
  h3 {
    margin-bottom: 20px;
  }

  //子组合选择器和同层组合选择器：>、+和~;
  header + p {
    color: green;
  }

  article {
    ~ article {
      color: red;
    }

    > section {
      background: #eee;
    }

    nav + & {
      margin-top: 20px;
    }
  }
}
