@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot?t=1561622190495'); /* IE9 */
  src: url('iconfont.eot?t=1561622190495#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
      url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAcgAAsAAAAADWwAAAbTAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDSAqNYIsfATYCJAMYCw4ABCAFhG0HWBtVCxFVpM2T/TiwY5PtxxqXY55js2l1nw//v6nnKXAvUTxKiBpUosS0htREHptD60jr1Ey/BjNn+meG//9rbcXrhvJCGY1btQv0kfvGvtja6bRMSoQIoYGi13HEzx9LvYi0fNd2aEcHGPmvehVJBTaK5AFFBW04ay+gjSYwEdtDnYHOJFI1an5lOx8YAARpKALT3Nptgxw8uI+BdjOnTRkHeSQOvoDLQB4SM/blwWyEADn7LvsCwAbn65mfUMHIARYCB36hgZNbJsIaESKvcVJUwkhOgtReFoDLQQAHoAgADzArM3MWg/NQkeMnWSvz6ASghBws+LY+Y1BkdGRs5LVoFCIeXsBAKRCMf3k8GAhgAUYE+pVA7C4TgIgyAgdEBhmBByKjjcAAkbEOauA1iIM1wmKLVSUAOwQTz8AZWbgVBxlEEKhNJkYvcvGmhJTY9LhchWjQ88yCUszl4/m7jFEqk5Wickzgfef7IXsopHYGDmtY31btIYfjUIA6/eHOZ2Hblfds87zwcO+FHeGwzuY9oOX8OzQH7faDXrXNF+p4GnJef99pXxF74IaejTt408BuvZEVi203sxMO304WJrPe8WKUdm6idITEuo8xnOs4jfMche1qg2WpJ+DyE3LghnQzO8WWvy1xeyUfpYdvu27ZCOPyh2PA1U5pYnM4A35/l8hhreTV2G1eny+gc9rZMQMrLtxIEXfdtMRdvp0uTF7q1jpsXsLu06VzOvyuAPVo7M6Axwe1ze6TvE7i9muZgM4HUJ/Ga79U4A8EvJ18B+nh48z2cNqO69RzUEO6tVt7iLgPYFsoQ7oxA8QbNnlD9uHYGmqhKyhCTsKP3YYPhmGb3nuAKEHCDmFWDK9kKEOUOUpBcOLZzkZaXEqtDaSkiDIUFOm5Pp8nMOsT+LWHtH7GteMw9Rw1ZPn9bvWq7HDR55O2HiDuYyv4WGHOekfBr9qOcYdvM4Lr1lyGwsbEwOH4HUEWxcRukU3JxxGODkUTi+xZTeyxzI7buXu1CJBuzB7MCRja0ERtdtJoJU6H3Wcg/sl/y5G9R6nnsI5uvULcBdtdycepx17eYQWmV6I6bH/zvkuERe9OrppS+Xm8zTzQ3NiOUZZ4xA5hFv+2dkrVvhEro9MRZralceftZWKz4ctx9tyG75ei1sgVURpRKWraeWtl6+QWFHESgpXEajV1gqQyaDXaE0VSfT0uKwHRqPpobEKspIJjncjtPaY3xf7UMtk7se/IyoKVfSqDsRL36IFnbt47Vkw21lt+m6z/cLPNUn3pvrmgWTQ2339UbTHbkifPLnx0z1LaVdJlufeoEIpMyfgpO5L91PiJ8/inFTcn3B8tmKoG1AxIFAnhEmsH9evJkDsFmbpvR58ONZ0kiFXdtYNN8kXb4ZBtkx1UnAmSfQODcsVELri4QtEmGsvfuZ4gmemcCcqZsuK0xL+PVBCn3DQnOXFM7Ax4E2M1jEof/3LQ0OL6rPRBjfyYlh+F/MbNL5ExwVIzaCsCiNl7eHlSDOSQFQuWusexNSPqv8/7LvdJXNoAaUDtoLZB+SqYh1XL17etz4dgHtjhTU0L51qrkqdMSa6ek+LePnKFbnKV5vDglGeaqzK+dfPX6iXb4hQbdbGaIZinCKibKhSL9X9u0O3tF6edCDOH/9f8v7p+TbAp+f/kpiBsYx/9+Reffz7a+Kfx5hjjLRN3EztOt7rLeNq44xTmA+kr4+6X0WE7KF3TPzKON1rfPH5mV9GMBq41N6VJf009MK9L3VU4RD19w5YEJrW0uaIjpbU11fr1kubfFD9bdLVFcbqRTJcuvr5e156sy9J+Zf1FazLsYysdL7CiRz1xQyRn2jRT3wFV9ox8a4E1w7EGK2MkACB6hbvKLQW5xN3hJPlz7i5nwd4NNuj09fDy2D31mLia3+T0xz/pw6rAKSyOSshRz6FdAyA79bWTOIJ/uzkSP+NCOUhK0W7qd7AAggB0c0Giv7aCGrLzjyOoCYAlkwocuSwsTywCAWUGkVw9EIXOB1MqzhQzH1DgiwEj3jewYt0GTrwfLE/8BYHWP4jimwLhaHtMKqdus3coAmoq39RVWrFMhY3b/oLmLgoXdjuyTzjflVMWp/H6MxRcGzv4R5OHwMROSzqxi0EITcbpHlWI2xDMLkk4a8e40nK00cSBQrB0a6T0Nu1UNIUnDjaJz7+Axp1QcAXDvkw/geN1SyeZWErAnv2KNOxYunoPjVzALEaqr6NJ5IRZIESNRkz2Wj2oBLG2RpWxk+BYTPXH/QflUZ4FQPDdxFa76XR7lGtfGDmwPIFvV9wJRC/h53hVEFMPv8jORiMA')
      format('woff2'),
    url('iconfont.woff?t=1561622190495') format('woff'),
    url('iconfont.ttf?t=1561622190495') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url('iconfont.svg?t=1561622190495#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconicon-refresh:before {
  content: '\e65e';
}

.iconfile-xls:before {
  content: '\e682';
}

.iconexcel:before {
  content: '\e605';
}

.iconxls:before {
  content: '\e651';
}

.iconexcel1:before {
  content: '\e660';
}
