/*!
 *  build: 杭州数蛙科技有限公司 
 *  copyright: dgiot-dashboard 
 *  author: h7ml(h7ml@qq.com) 
 *  Time: 2022年06月17日18时21分18秒
 */

.el-table__fixed-right {
  height: 100% !important;
}
@font-face {
  font-family: Ionicons;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/ionicons.woff2?v=3.0.0) format('woff2'),
    url(/fonts/ionicons.woff?v=3.0.0) format('woff'),
    url(/fonts/ionicons.ttf?v=3.0.0) format('truetype'),
    url(/fonts/ionicons.svg?v=3.0.0#Ionicons) format('svg');
}

[data-v-1c29a6e7]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.el-row[data-v-1c29a6e7]{margin-bottom:0px !important}.full-modal[data-v-1c29a6e7]{height:100vh !important}.full-modal .ant-modal[data-v-1c29a6e7]{top:0;max-width:100%;padding-bottom:0;margin:0}.full-modal .ant-modal-content[data-v-1c29a6e7]{display:flex;flex-direction:column;height:calc(100vh)}.full-modal .ant-modal-body[data-v-1c29a6e7]{flex:1}.index-container[data-v-1c29a6e7]{width:100%;heigth:100%}
[data-v-de097c28]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.grafana-container[data-v-de097c28]{width:100%;heigth:100%}.grafana-container iframe[data-v-de097c28]{display:block;width:100vw;height:100vh;background:#000;border:none}
[data-v-6af26652]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.CloudSystem-container[data-v-6af26652]{width:100%;height:100%}.CloudSystem-container-container[data-v-6af26652]{width:100%;height:100%}
[data-v-e24c6614]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs[data-v-e24c6614]{height:calc(100vh - 60px * 2.7) !important}.logs[data-v-e24c6614]  .el-table__body,.logs[data-v-e24c6614]  .el-table__empty-block{width:100% !important}.logs-row-tree[data-v-e24c6614]{overflow:scroll}

.my-label {
  font-size: 16px !important;
  text-align: center !important;
}

[data-v-6412bb04]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs[data-v-6412bb04]{height:calc(100vh - 60px * 2.7) !important}.logs-row-tree[data-v-6412bb04]{overflow:scroll}.logs-table[data-v-6412bb04]  *{font-size:14px;font-weight:normal;color:#606266}
[data-v-627e7e7c]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs-row-tree[data-v-627e7e7c]{overflow:scroll}
[data-v-911c5902]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs[data-v-911c5902]{height:calc(100vh - 60px * 2.7) !important}.logs-row-tree[data-v-911c5902]{overflow:scroll}.logs-table[data-v-911c5902]  *{font-size:14px;font-weight:normal;color:#606266}
.things-parse{width:100%;margin:20px}.things-parse .ace_editor{margin-right:80px}
.dgiot_dialog .el-dialog__header{display:none}.dgiot_dialog .dj-dialog-content{padding:0;overflow:unset}
[data-v-357d8c08]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.el-button--goon.is-active[data-v-357d8c08],.el-button--goon[data-v-357d8c08]:active{color:#fff;background:#20b2aa;border-color:#20b2aa}.el-button--goon[data-v-357d8c08]:focus,.el-button--goon[data-v-357d8c08]:hover{color:#fff;background:#48d1cc;border-color:#48d1cc}.el-button--goon[data-v-357d8c08]{color:#fff;background-color:#20b2aa;border-color:#20b2aa}[data-v-357d8c08] .row-bg .el-form-item .el-form-item__content{position:revert}[data-v-357d8c08] .el-dialog__wrapper{margin-bottom:20px}.resourcechannel[data-v-357d8c08]{box-sizing:border-box;width:100%;height:calc(100vh - 60px * 3 - 25px)}.resourcechannel[data-v-357d8c08]  .green_active{color:green}.resourcechannel[data-v-357d8c08]  .dialog-footer{text-align:center}.resourcechannel[data-v-357d8c08]  .red_active{color:red}.resourcechannel[data-v-357d8c08]  .el-tabs__item{height:50px;margin:0;margin-top:20px;font-family:auto;font-size:16px;line-height:50px}.resourcechannel[data-v-357d8c08]  .el-dialog__header{border-bottom:1px solid #ccc}.resourcechannel[data-v-357d8c08]  .el-dialog__body .el-form{display:flex;flex-wrap:wrap}.resourcechannel[data-v-357d8c08]  .el-dialog__body .el-form .el-form-item{width:100%;margin-bottom:22px}.resourcechannel[data-v-357d8c08]  .el-dialog__body .el-form .el-form-item .el-select{width:100%}@media screen and (max-width: 1350px){.resourcechannel[data-v-357d8c08]  .el-dialog__body .el-form .el-col{width:100%}}.resourcechannel[data-v-357d8c08]  .el-dialog__body ::v-deep .el-row{margin:20px 0}
[data-v-5997e3b6]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.modules[data-v-5997e3b6]{margin:20px}.modules footer[data-v-5997e3b6]{margin-top:20px;text-align:center}

.nodelist[data-v-045c1d7b] {
  box-sizing: border-box;
  width: 100%;
  min-height: 875px;
  padding-left: 10px;
  background: #ffffff;
}

[data-v-eb51b004]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.CloudTest-container[data-v-eb51b004]{width:100%;height:100%}.CloudTest-container-container[data-v-eb51b004]{width:100%;height:100%}
[data-v-7d369075]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.statistics-container[data-v-7d369075]{width:100%;height:100%}

.el-dialog__wrapper {
  transition-duration: 0.3s;
}


.el-divider__text {
  font-size: 18px;
}


.el-divider__text {
  font-size: 18px;
}
.setting {
  margin: 20px 0;
}

