/*!
 *  build: 杭州数蛙科技有限公司 
 *  copyright: dgiot-dashboard 
 *  author: h7ml(h7ml@qq.com) 
 *  Time: 2022年09月23日15时55分21秒
 */
[data-v-6af26652]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.CloudSystem-container[data-v-6af26652]{width:100%;height:100%}.CloudSystem-container-container[data-v-6af26652]{width:100%;height:100%}
[data-v-67a70898]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs[data-v-67a70898]{height:calc(100vh - 60px * 2.7) !important}.logs[data-v-67a70898] .el-table__body,.logs[data-v-67a70898] .el-table__empty-block{width:100% !important}.logs-row-tree[data-v-67a70898]{overflow:scroll}

.my-label {
  font-size: 16px !important;
  text-align: center !important;
}

[data-v-6412bb04]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs[data-v-6412bb04]{height:calc(100vh - 60px * 2.7) !important}.logs-row-tree[data-v-6412bb04]{overflow:scroll}.logs-table[data-v-6412bb04] *{font-size:14px;font-weight:normal;color:#606266}
[data-v-2fd2c5dc]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs-row-tree[data-v-2fd2c5dc]{overflow:scroll}
[data-v-04ec04ce]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs[data-v-04ec04ce]{height:calc(100vh - 60px * 2.7) !important}.logs-row-tree[data-v-04ec04ce]{overflow:scroll}.logs-table[data-v-04ec04ce] *{font-size:14px;font-weight:normal;color:#606266}
.things-parse{width:100%;margin:20px}.things-parse .ace_editor{margin-right:80px}
.dgiot_dialog .el-dialog__header{display:none}.dgiot_dialog .dj-dialog-content{padding:0;overflow:unset}
[data-v-95d00c9c]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.el-button--goon.is-active[data-v-95d00c9c],.el-button--goon[data-v-95d00c9c]:active{color:#fff;background:#20b2aa;border-color:#20b2aa}.el-button--goon[data-v-95d00c9c]:focus,.el-button--goon[data-v-95d00c9c]:hover{color:#fff;background:#48d1cc;border-color:#48d1cc}.el-button--goon[data-v-95d00c9c]{color:#fff;background-color:#20b2aa;border-color:#20b2aa}[data-v-95d00c9c] .row-bg .el-form-item .el-form-item__content{position:revert}[data-v-95d00c9c] .el-dialog__wrapper{margin-bottom:20px}.resourcechannel[data-v-95d00c9c]{box-sizing:border-box;width:100%;display:flex;height:calc(100vh - 60px * 3 - 25px)}.resourcechannel .filetree[data-v-95d00c9c]{width:20%;height:100%;border:.5px solid #ccc}.resourcechannel .treelist[data-v-95d00c9c]{margin-top:10px}.resourcechannel .firsttable[data-v-95d00c9c]{border:.5px solid #ccc;width:80%;padding:10px;height:100%}.resourcechannel[data-v-95d00c9c] .green_active{color:green}.resourcechannel[data-v-95d00c9c] .dialog-footer{text-align:center}.resourcechannel[data-v-95d00c9c] .el-tree-node__label{font-size:18px;margin:4px;display:inline-block}.resourcechannel[data-v-95d00c9c] .red_active{color:red}.resourcechannel[data-v-95d00c9c] .el-tabs__item{height:50px;margin:0;margin-top:20px;font-family:auto;font-size:16px;line-height:50px}.resourcechannel[data-v-95d00c9c] .el-dialog__header{border-bottom:1px solid #ccc}.resourcechannel[data-v-95d00c9c] .el-dialog__body .el-form{display:flex;flex-wrap:wrap}.resourcechannel[data-v-95d00c9c] .el-dialog__body .el-form .el-form-item{width:100%;margin-bottom:22px}.resourcechannel[data-v-95d00c9c] .el-dialog__body .el-form .el-form-item .el-select{width:100%}@media screen and (max-width: 1350px){.resourcechannel[data-v-95d00c9c] .el-dialog__body .el-form .el-col{width:100%}}.resourcechannel[data-v-95d00c9c] .el-dialog__body ::v-deep .el-row{margin:20px 0}
[data-v-5997e3b6]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.modules[data-v-5997e3b6]{margin:20px}.modules footer[data-v-5997e3b6]{margin-top:20px;text-align:center}

.nodelist[data-v-045c1d7b] {
  box-sizing: border-box;
  width: 100%;
  min-height: 875px;
  padding-left: 10px;
  background: #ffffff;
}

[data-v-af59d43e]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.CloudSystem-container[data-v-af59d43e]{width:100%;height:100%}.CloudSystem-container-container[data-v-af59d43e]{width:100%;height:100%}
[data-v-eb51b004]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.CloudTest-container[data-v-eb51b004]{width:100%;height:100%}.CloudTest-container-container[data-v-eb51b004]{width:100%;height:100%}
[data-v-7d369075]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.statistics-container[data-v-7d369075]{width:100%;height:100%}

.el-dialog__wrapper {
  transition-duration: 0.3s;
}


.el-divider__text {
  font-size: 18px;
}


.el-divider__text {
  font-size: 18px;
}
.setting {
  margin: 20px 0;
}

