/*!
 *  build: 杭州数蛙科技有限公司 
 *  copyright: dgiot-dashboard 
 *  author: h7ml(h7ml@qq.com) 
 *  Time: 2023年01月26日19时48分15秒
 */
[data-v-7c917f6c]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}
.dashboard-container main{position:relative;top:20px;height:100vh;margin:0 auto;text-align:center}
[data-v-2da43cc9]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}
[data-v-c9b3dd86]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.instruct[data-v-c9b3dd86]{box-sizing:border-box;min-height:100%;padding:20px;background:#fff}.instruct .instruct_button[data-v-c9b3dd86]{display:flex;flex-direction:row-reverse;flex-direction:unset;justify-content:space-between}.instruct .instruct_table[data-v-c9b3dd86]{margin-top:20px}.instruct[data-v-c9b3dd86] .el-select--small{width:100%}
[data-v-f14eff30]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}#addApp[data-v-f14eff30]{width:100%;padding:20px;margin:0 auto}#addApp .head[data-v-f14eff30]{display:flex;justify-content:space-between;margin:20px 0}#addApp .form[data-v-f14eff30]{padding:10px 30px;border:3px solid #f7f7f7}#addApp .form .title[data-v-f14eff30]{margin:10px 0;text-align:right}#addApp .form .el-form .el-col-12[data-v-f14eff30]{padding:20px}@media screen and (max-width: 1100px){#addApp .form .el-form .el-col-12[data-v-f14eff30]{width:100%}}#addApp .form .el-form .el-form-item[data-v-f14eff30] .el-slider__marks-text{width:30px;margin-top:5px}#addApp .form .el-form .el-form-item[data-v-f14eff30] .el-cascader{width:100%}#addApp .form .el-form .el-form-item[data-v-f14eff30] .el-select{width:100%}#addApp .form .el-form .el-form-item[data-v-f14eff30] .el-input-number{width:100%}#addApp .btns[data-v-f14eff30]{margin-top:40px;text-align:center}

.el-upload-list__item.is-success .el-upload-list__item-status-label {
  display: none;
}
.el-upload-list__item .el-icon-close {
  display: block;
}
.el-notification {
  width: 1000px;
}

[data-v-21a889f3]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.application[data-v-21a889f3]{box-sizing:border-box;box-sizing:border-box;width:100%;background:#fff}
[data-v-21a889f3]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.application .el-dialog__body[data-v-21a889f3]{padding:20px;border-bottom:1px solid #333}.application .el-dialog__header[data-v-21a889f3]{border-bottom:1px solid #333}.application .el-dialog__title[data-v-21a889f3]{font-size:20px;font-weight:900}.application .el-dialog[data-v-21a889f3]{border-radius:10px}.application .grid-content[data-v-21a889f3]{text-align:center}.application .grid-content dl dt[data-v-21a889f3]{float:left;width:160px;overflow:hidden;clear:left;font-weight:700;text-align:right;text-overflow:ellipsis;white-space:nowrap}.application .grid-content dl dd[data-v-21a889f3]{margin-bottom:1em;margin-left:180px;text-align:left}.application .grid-content .editor[data-v-21a889f3]{margin:13px 0;text-align:left}.application .el-card__body[data-v-21a889f3]{font-size:14px}.application[data-v-21a889f3]{height:calc(100vh - 60px * 3 - 25px)}.application .appcontent .isbutton .el-button[data-v-21a889f3]{position:absolute;top:-45px;right:10%}
[data-v-78ca6350]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}#application[data-v-78ca6350]{box-sizing:border-box;width:100%;margin:0 auto}
[data-v-ed9dc2b2]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}
[data-v-a678f2e0]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.children-container[data-v-a678f2e0]{width:100%;heigth:100%}
[data-v-40559eab]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.DeviceInfo-container[data-v-40559eab]{width:100%;heigth:100%}
[data-v-0ee1a37e]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.runningState-container[data-v-0ee1a37e]{width:100%;height:100%}.bg_logo[data-v-0ee1a37e]{background:url("/assets/images/logo/dgiot_logo.png") no-repeat;background-size:800px 800px;background-position:center center}
.fixdescription .ant-card-meta-description{font-size:26px !important;color:#1e49c5 !important;text-align:center !important}.el-link--inner{display:block}

.el-switch {
  display: inline !important;
}

[data-v-42570337]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs[data-v-42570337]{height:calc(100vh - 60px * 2.7) !important}.logs-row-tree[data-v-42570337]{overflow:scroll}.logs-table[data-v-42570337] *{font-size:14px;font-weight:normal;color:#606266}
[data-v-1e70f273]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.topoCaltable[data-v-1e70f273]{position:relative;width:100%;height:100%}.topoCaltable .table_content[data-v-1e70f273]{width:96%;height:calc(100% - 40px);margin-top:35px;margin-left:2%;background-color:#0b2266;display:flex;flex-direction:column;justify-content:center;align-items:center;color:#fff;overflow:hidden}.topoCaltable .table_content[data-v-1e70f273] .toptitle{background-color:#071753;width:100%;display:flex;border:.2px solid #fff}.topoCaltable .table_content .item[data-v-1e70f273]{flex:1;padding:15px 0;text-align:center}.topoCaltable .table_content .backround[data-v-1e70f273]{width:100%;height:100%}.topoCaltable .table_content .table[data-v-1e70f273]{height:100%;display:flex;flex-direction:column}.topoCaltable .table_content .table .table-item[data-v-1e70f273]:nth-child(2n){background-color:#0b1b57}.topoCaltable .table_content .table .table-item[data-v-1e70f273]:nth-child(2n+1){background-color:#071753}.topoCaltable .table_content .table .table-item[data-v-1e70f273]{display:flex;justify-content:center;align-items:center;padding:10px;width:100%}.topoCaltable .table_content .table .table-item .table-item-content[data-v-1e70f273]{flex:1;height:100%;text-align:center;padding:5px}.topoCaltable .table_content[data-v-1e70f273] .el-table .tableRowClassName:nth-child(2n){background-color:#001833 !important}.topoCaltable .table_content[data-v-1e70f273] .el-table .tableRowClassName:nth-child(2n+1){background-color:#08223f !important}.topoCaltable .table_content[data-v-1e70f273] .el-table{border-collapse:collapse}.topoCaltable .table_content .seamless-warp[data-v-1e70f273]{overflow:hidden;height:100%;-webkit-backface-visibility:hidden;backface-visibility:hidden;-ms-perspective:1000;perspective:1000}.topoCaltable .table_content[data-v-1e70f273] .el-table .cell{text-align:center;color:#fff}
[data-v-537d0a16]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.topoCaltable[data-v-537d0a16]{position:relative}.topoCaltable .table_content[data-v-537d0a16]{width:96%;height:calc(100% - 45px);margin-top:35px;margin-left:2%;background-color:#0b2266;display:flex;flex-direction:column;justify-content:center;align-items:center;color:#fff;overflow:hidden}.topoCaltable .table_content[data-v-537d0a16] .toptitle{background-color:#071753;width:100%;display:flex;border:.2px solid #fff}.topoCaltable .table_content .item[data-v-537d0a16]{width:25%;padding:15px 0;text-align:center}.topoCaltable .table_content .backround[data-v-537d0a16]{width:100%;height:100%}.topoCaltable .table_content .table[data-v-537d0a16]{height:100%;display:flex;flex-direction:column}.topoCaltable .table_content .table .table-item[data-v-537d0a16]:nth-child(2n){background-color:#0b1b57}.topoCaltable .table_content .table .table-item[data-v-537d0a16]:nth-child(2n+1){background-color:#071753}.topoCaltable .table_content .table .table-item[data-v-537d0a16]{display:flex;justify-content:center;align-items:center;padding:10px;width:100%}.topoCaltable .table_content .table .table-item .table-item-content[data-v-537d0a16]{flex:1;height:100%;text-align:center;padding:5px}.topoCaltable .table_content[data-v-537d0a16] .el-table .tableRowClassName:nth-child(2n){background-color:#001833 !important}.topoCaltable .table_content[data-v-537d0a16] .el-table .tableRowClassName:nth-child(2n+1){background-color:#08223f !important}.topoCaltable .table_content[data-v-537d0a16] .el-table{border-collapse:collapse}.topoCaltable .table_content .seamless-warp[data-v-537d0a16]{overflow:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;-ms-perspective:1000;perspective:1000}.topoCaltable .table_content[data-v-537d0a16] .el-table .cell{text-align:center;color:#fff}
[data-v-61f44a09]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.iframe-container iframe[data-v-61f44a09]{width:100%;height:calc( 100vh - 60px - 50px - 20px * 2 - 55px )}
[data-v-30f25984]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.topoCaltable[data-v-30f25984]{position:relative}.topoCaltable .table_content[data-v-30f25984]{width:96%;height:calc(100% - 45px);margin-top:35px;margin-left:2%;background-color:#0b2266;display:flex;flex-direction:column;justify-content:center;align-items:center;color:#fff;overflow:hidden}.topoCaltable .table_content[data-v-30f25984] .toptitle{background-color:#071753;width:100%;display:flex;border:.2px solid #fff}.topoCaltable .table_content .item[data-v-30f25984]{width:25%;padding:15px 0;text-align:center}.topoCaltable .table_content .backround[data-v-30f25984]{width:100%;height:100%}.topoCaltable .table_content .table[data-v-30f25984]{height:100%;display:flex;flex-direction:column}.topoCaltable .table_content .table .table-item[data-v-30f25984]:nth-child(2n){background-color:#0b1b57}.topoCaltable .table_content .table .table-item[data-v-30f25984]:nth-child(2n+1){background-color:#071753}.topoCaltable .table_content .table .table-item[data-v-30f25984]{display:flex;justify-content:center;align-items:center;padding:10px;width:100%}.topoCaltable .table_content .table .table-item .table-item-content[data-v-30f25984]{flex:1;height:100%;text-align:center;padding:5px}.topoCaltable .table_content[data-v-30f25984] .el-table .tableRowClassName:nth-child(2n){background-color:#001833 !important}.topoCaltable .table_content[data-v-30f25984] .el-table .tableRowClassName:nth-child(2n+1){background-color:#08223f !important}.topoCaltable .table_content[data-v-30f25984] .el-table{border-collapse:collapse}.topoCaltable .table_content .seamless-warp[data-v-30f25984]{overflow:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;-ms-perspective:1000;perspective:1000}.topoCaltable .table_content[data-v-30f25984] .el-table .cell{text-align:center;color:#fff}
[data-v-1be6655e]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.topoCard[data-v-1be6655e]{position:relative}.topoCard .card_content[data-v-1be6655e]{position:absolute;width:100%;height:100%;display:flex;justify-content:center;align-items:center;color:#fff}
.proddetail {
  padding: 0 20px;
}
.map{ 
  flex: 1;
  width: 100%;
  height:60%;
}
.diaCollLeftCls {
  width: 100%;
  height: calc(100vh - 100px);
}

.ace_editor3 {
  height: calc(100vh - 100px);
}

.diaCollRightCls {
  width: 100%;
  height: calc(100vh - 100px);
}

.editproduct {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.mailtable .cloumn {
  width: 200px;
  font-weight: 400;
  font-weight: bold;
  color: #74777a;
  text-align: left;
  background: #fafafc;
  border-right: 1px solid #ebecec;
  border-bottom: 1px solid #ebecec;
}

.mailtable td {
  box-sizing: border-box;
  padding: 15px;
  font-size: 14px;
  color: #74777a;
  text-align: left;
  border: 1px solid #ebecec;
}

.mailtable .notbottom {
  border-bottom: 0;
}

.editheader .product ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-left: 0;
}

.editheader .product ul li {
  font-size: 16px;
  color: #74777a;
  text-align: left;
  list-style: none;
}

/* .editheader .product ul li:first-child,
.editheader .product ul li:last-child {
width: 25%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
}
.editheader .product ul li:nth-child(2) {
width: 50%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
} */
.editproduct .el-tabs__item {
  width: 150px;
  height: 50px;
  margin: 0;
  margin-top: 20px;
  font-family: auto;
  font-size: 16px;
  line-height: 50px;
}

.editproduct .el-tabs__header {
  margin: 0;
}

.editproduct .el-tabs__content {
  box-sizing: border-box;
  padding: 20px 10px 0 10px;
  background: #f4f4f4;
}

.editproduct .el-tab-pane {
  box-sizing: border-box;
  padding-top: 10px;
  background: #ffffff;
}

.editproduct .el-dialog__body {
  padding: 0 20px;
}

.editproduct .inputnumber {
  width: auto;
}

.editproduct .el-table td,
.editproduct .el-table th {
  padding: 5px 0;
}

.editproduct .warning {
  width: 100%;
  color: #ffffff;
  background: #272822;
}

.editproduct .error {
  width: 100%;
  color: #f56c6c;
  background: #272822;
}

.editproduct .el-form-item {
  margin-bottom: 5px;
}

::v-deep .el-form-item__content {
  /*line-height: 24px !important;*/
  /*margin-left: 0;*/
  /*clear: both;*/
  /*margin-top: -25px !important;*/
  /*color: pink;*/
}

::v-deep .el-form-item__label {
  height: 48px;
  line-height: 30px;
}

::v-deep .el-form-item--mini .el-form-item__error {
  margin-top: -13px;
}

.editproduct .el-dialog__header {
  border-bottom: 1px solid #dddddd;
}

.editproduct .el-cascader {
  width: 60%;
}

.editproduct .el-cascader .el-input__inner {
  height: 30px;
}

.editproduct .topiccontent {
  box-sizing: border-box;
  padding: 10px;
}

.editproduct .topicform .el-select {
  width: 100%;
}

.editproduct .row-expand-cover td:first-child .el-icon-arrow-right {
  visibility: hidden;
}

/* .editproduct .row-expand-cover + tr {
display: none;
} */
.editproduct .el-table__expanded-cell {
  left: 100px;
  box-sizing: border-box;
  padding: 20px 0 !important;
  margin: 0 auto;
  text-align: center;
}

.editproduct .el-table__expanded-cell .el-table th.is-leaf {
  background: #ced7de9c;
}

/* .editproduct #pane-sixeth {
display: flex;
} */
.editproduct .el-col-2 {
  text-align: center;
}

.green_active {
  color: green;
}

.red_active {
  color: red;
}

.wumoxing .el-form-item__content {
  margin-left: 10px;
}

.task_collection .el-form-item__content {
  clear: none;
}

.task_collection .el-form-item {
  margin-bottom: 10px;
}

.proddetail {
  padding: 0 20px;
}
.map{ 
  flex: 1;
  width: 100%;
  height:60%;
}
.diaCollLeftCls {
  width: 100%;
  height: calc(100vh - 100px);
}
.ace_editor3 {
  height: calc(100vh - 100px);
}
.diaCollRightCls {
  width: 100%;
  height: calc(100vh - 100px);
}
.editproduct {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.mailtable .cloumn {
  width: 200px;
  font-weight: 400;
  font-weight: bold;
  color: #74777a;
  text-align: left;
  background: #fafafc;
  border-right: 1px solid #ebecec;
  border-bottom: 1px solid #ebecec;
}
.mailtable td {
  box-sizing: border-box;
  padding: 15px;
  font-size: 14px;
  color: #74777a;
  text-align: left;
  border: 1px solid #ebecec;
}
.mailtable .notbottom {
  border-bottom: 0;
}
.editheader .product ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-left: 0;
}
.editheader .product ul li {
  font-size: 16px;
  color: #74777a;
  text-align: left;
  list-style: none;
}

/* .editheader .product ul li:first-child,
.editheader .product ul li:last-child {
width: 25%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
}
.editheader .product ul li:nth-child(2) {
width: 50%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
} */
.editproduct .el-tabs__item {
  width: 150px;
  height: 50px;
  margin: 0;
  margin-top: 20px;
  font-family: auto;
  font-size: 16px;
  line-height: 50px;
}
.editproduct .el-tabs__header {
  margin: 0;
}
.editproduct .el-tabs__content {
  box-sizing: border-box;
  padding: 20px 10px 0 10px;
  background: #f4f4f4;
}
.editproduct .el-tab-pane {
  box-sizing: border-box;
  padding-top: 10px;
  background: #ffffff;
}
.editproduct .el-dialog__body {
  padding: 0 20px;
}
.editproduct .inputnumber {
  width: auto;
}
.editproduct .el-table td,
.editproduct .el-table th {
  padding: 5px 0;
}
.editproduct .warning {
  width: 100%;
  color: #ffffff;
  background: #272822;
}
.editproduct .error {
  width: 100%;
  color: #f56c6c;
  background: #272822;
}
.editproduct .el-form-item {
  margin-bottom: 5px;
}
::v-deep .el-form-item__content {
  /*line-height: 24px !important;*/
  /*margin-left: 0;*/
  /*clear: both;*/
  /*margin-top: -25px !important;*/
  /*color: pink;*/
}
::v-deep .el-form-item__label {
  height: 48px;
  line-height: 30px;
}
::v-deep .el-form-item--mini .el-form-item__error {
  margin-top: -13px;
}
.editproduct .el-dialog__header {
  border-bottom: 1px solid #dddddd;
}
.editproduct .el-cascader {
  width: 60%;
}
.editproduct .el-cascader .el-input__inner {
  height: 30px;
}
.editproduct .topiccontent {
  box-sizing: border-box;
  padding: 10px;
}
.editproduct .topicform .el-select {
  width: 100%;
}
.editproduct .row-expand-cover td:first-child .el-icon-arrow-right {
  visibility: hidden;
}

/* .editproduct .row-expand-cover + tr {
display: none;
} */
.editproduct .el-table__expanded-cell {
  left: 100px;
  box-sizing: border-box;
  padding: 20px 0 !important;
  margin: 0 auto;
  text-align: center;
}
.editproduct .el-table__expanded-cell .el-table th.is-leaf {
  background: #ced7de9c;
}

/* .editproduct #pane-sixeth {
display: flex;
} */
.editproduct .el-col-2 {
  text-align: center;
}
.green_active {
  color: green;
}
.red_active {
  color: red;
}
.wumoxing .el-form-item__content {
  margin-left: 10px;
}
.task_collection .el-form-item__content {
  clear: none;
}
.task_collection .el-form-item {
  margin-bottom: 10px;
}

