/*!
 *  build: 杭州数蛙科技有限公司 
 *  copyright: dgiot-dashboard 
 *  author: h7ml(h7ml@qq.com) 
 *  Time: 2021-12-31 14:09:06
 */

.el-switch {
  display: inline !important;
}

[data-v-608b1073]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs[data-v-608b1073]{height:calc(100vh - 60px * 2.7) !important}.logs-row-tree[data-v-608b1073]{overflow:scroll}.logs-table[data-v-608b1073]  *{font-size:14px;font-weight:normal;color:#606266}
[data-v-2fb4360a]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.iframe-container iframe[data-v-2fb4360a]{width:100%;height:calc( 100vh - 60px - 50px - 20px * 2 - 55px )}
.proddetail {
  padding: 0 20px;
}
.diaCollLeftCls {
  width: 100%;
  height: calc(100vh - 100px);
}

.ace_editor3 {
  height: calc(100vh - 100px);
}

.diaCollRightCls {
  width: 100%;
  height: calc(100vh - 100px);
}

.editproduct {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.mailtable .cloumn {
  width: 200px;
  font-weight: 400;
  font-weight: bold;
  color: #74777a;
  text-align: left;
  background: #fafafc;
  border-right: 1px solid #ebecec;
  border-bottom: 1px solid #ebecec;
}

.mailtable td {
  box-sizing: border-box;
  padding: 15px;
  font-size: 14px;
  color: #74777a;
  text-align: left;
  border: 1px solid #ebecec;
}

.mailtable .notbottom {
  border-bottom: 0;
}

.editheader .product ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-left: 0;
}

.editheader .product ul li {
  font-size: 16px;
  color: #74777a;
  text-align: left;
  list-style: none;
}

/* .editheader .product ul li:first-child,
.editheader .product ul li:last-child {
width: 25%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
}
.editheader .product ul li:nth-child(2) {
width: 50%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
} */
.editproduct .el-tabs__item {
  width: 150px;
  height: 50px;
  margin: 0;
  margin-top: 20px;
  font-family: auto;
  font-size: 16px;
  line-height: 50px;
}

.editproduct .el-tabs__header {
  margin: 0;
}

.editproduct .el-tabs__content {
  box-sizing: border-box;
  padding: 20px 10px 0 10px;
  background: #f4f4f4;
}

.editproduct .el-tab-pane {
  box-sizing: border-box;
  padding-top: 10px;
  background: #ffffff;
}

.editproduct .el-dialog__body {
  padding: 0 20px;
}

.editproduct .inputnumber {
  width: auto;
}

.editproduct .el-table td,
.editproduct .el-table th {
  padding: 5px 0;
}

.editproduct .warning {
  width: 100%;
  color: #ffffff;
  background: #272822;
}

.editproduct .error {
  width: 100%;
  color: #f56c6c;
  background: #272822;
}

.editproduct .el-form-item {
  margin-bottom: 5px;
}

::v-deep .el-form-item__content {
  /*line-height: 24px !important;*/
  /*margin-left: 0;*/
  /*clear: both;*/
  /*margin-top: -25px !important;*/
  /*color: pink;*/
}

::v-deep .el-form-item__label {
  height: 48px;
  line-height: 30px;
}

::v-deep .el-form-item--mini .el-form-item__error {
  margin-top: -13px;
}

.editproduct .el-dialog__header {
  border-bottom: 1px solid #dddddd;
}

.editproduct .el-cascader {
  width: 60%;
}

.editproduct .el-cascader .el-input__inner {
  height: 30px;
}

.editproduct .topiccontent {
  box-sizing: border-box;
  padding: 10px;
}

.editproduct .topicform .el-select {
  width: 100%;
}

.editproduct .row-expand-cover td:first-child .el-icon-arrow-right {
  visibility: hidden;
}

/* .editproduct .row-expand-cover + tr {
display: none;
} */
.editproduct .el-table__expanded-cell {
  left: 100px;
  box-sizing: border-box;
  padding: 20px 0 !important;
  margin: 0 auto;
  text-align: center;
}

.editproduct .el-table__expanded-cell .el-table th.is-leaf {
  background: #ced7de9c;
}

/* .editproduct #pane-sixeth {
display: flex;
} */
.editproduct .el-col-2 {
  text-align: center;
}

.green_active {
  color: green;
}

.red_active {
  color: red;
}

.wumoxing .el-form-item__content {
  margin-left: 10px;
}

.task_collection .el-form-item__content {
  clear: none;
}

.task_collection .el-form-item {
  margin-bottom: 10px;
}


.devproduct[data-v-0678695a] {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}


.devproduct .el-tabs__header {
  margin: 0;
}
.devproduct .el-tabs__item {
  height: 50px;
  margin: 0;
  margin-top: 20px;
  font-family: auto;
  font-size: 16px;
  line-height: 50px;
}
.devproduct .el-tabs__content {
  box-sizing: border-box;
  padding: 20px;
  background: #f4f4f4;
}
.devproduct .el-tab-pane {
  background: #ffffff;
}
.devproduct .procontent,
.devproduct .prosecond {
  box-sizing: border-box;
  width: 100%;
  /*padding: 20px 10px;*/
}
.devproduct .el-dialog {
  margin-top: 5vh;
}
.devproduct .el-dialog .el-dialog__header {
  border-bottom: 1px solid #cccccc;
}
.devproduct .el-dialog .el-cascader,
.devproduct .el-dialog .el-select {
  width: 100%;
}
.devproduct .el-dialog .el-form {
  box-sizing: border-box;
  padding: 0 10px;
}
.devproduct .el-dialog .el-form .el-form-item {
  margin-bottom: 5px;
}
.devproduct .el-dialog .el-form .el-form-item__content {
  margin-left: 10px;
  clear: both;
}
.devproduct .avatar-uploader {
  display: inline-block;
}
.avatar-uploader .el-upload {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  width: 150px;
  height: 150px;
  font-size: 28px;
  line-height: 150px;
  color: #8c939d;
  text-align: center;
  border: 1px dashed #cccccc;
}
.avatar {
  display: block;
  width: 150px;
  height: 150px;
}

/* .devproduct .el-icon-close{
  position:absolute;
  right:0;
} */

[data-v-a47db55c]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}[data-v-a47db55c] .el-tabs__header{margin:0}[data-v-a47db55c] .el-icon-time{display:none}[data-v-a47db55c] .el-date-editor--datetime input{padding:0 10px}[data-v-a47db55c] .el-card{overflow:hidden;color:#303133;background-color:#f4f4f4 !important;border:0px solid #ebeef5;border-radius:0px;transition:.3s}.chartsinfo[data-v-a47db55c]{margin-top:15px}.chartsinfo .chartsmain[data-v-a47db55c]{margin:30px 0}.editdevices[data-v-a47db55c]{box-sizing:border-box;width:100%;height:100%;padding:0 20px}.editdevices .OFFLINE[data-v-a47db55c]{color:red}.editdevices .ACTIVE[data-v-a47db55c],.editdevices .ONLINE[data-v-a47db55c]{color:green}.mailtable .cloumn[data-v-a47db55c]{font-weight:bold;color:#74777a;text-align:left;background:#fafafc;border-right:1px solid #ebecec;border-bottom:1px solid #ebecec}.editdevices .updatedtable[data-v-a47db55c]{box-sizing:border-box;width:280px;height:180px;padding-left:20px;margin:20px 20px 0 0;font-size:50px;line-height:40px;list-style:none;border:1px solid #c0c4cc;border-radius:5px;box-shadow:10px 10px 10px 5px #f4f4f4}.editdevices .buttonactive[data-v-a47db55c]{color:#fff;background-color:#409eff}.mailtable td[data-v-a47db55c]{box-sizing:border-box;padding:12px;font-size:14px;color:#74777a;text-align:left;border:1px solid #ebecec}.childrendevices[data-v-a47db55c]{box-sizing:border-box;width:100%;height:auto;padding:10px;background:#fff}
@media screen and (max-width: 600px){.editdevices .el-tabs__item{height:50px;margin:0;margin-top:5px;font-family:auto;font-size:12px;line-height:50px}.el-tabs{width:560px;font-size:12px}.mailtable tr .cloumn{font-size:12px}.mailtable td{width:70px;padding:1px;font-size:10px}}@media screen and (min-width: 601px){.editdevices .el-tabs__item{height:50px;margin:0;margin-top:20px;font-family:auto;font-size:16px;line-height:50px}}.editdevices .el-tabs__content{box-sizing:border-box;padding:20px;background:#f4f4f4}.editdevices .childrendevices .el-form-item:last-child{float:right}.editdevices .childdialog .el-form-item__content{clear:both}.editdevices .childdialog .el-form-item__content .el-select{width:100%}.fontSize{font-size:12px;color:#666}.editdevices .svg-icon{width:3rem;height:3rem;margin-top:5px}.stla{overflow:hidden;font-family:fantasy;font-size:25px;color:#666;text-align:center;text-overflow:ellipsis;white-space:nowrap}.ht7{height:70px}
.proddetail {
  padding: 0 20px;
}
.diaCollLeftCls {
  width: 100%;
  height: calc(100vh - 100px);
}
.ace_editor3 {
  height: calc(100vh - 100px);
}
.diaCollRightCls {
  width: 100%;
  height: calc(100vh - 100px);
}
.editproduct {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.mailtable .cloumn {
  width: 200px;
  font-weight: 400;
  font-weight: bold;
  color: #74777a;
  text-align: left;
  background: #fafafc;
  border-right: 1px solid #ebecec;
  border-bottom: 1px solid #ebecec;
}
.mailtable td {
  box-sizing: border-box;
  padding: 15px;
  font-size: 14px;
  color: #74777a;
  text-align: left;
  border: 1px solid #ebecec;
}
.mailtable .notbottom {
  border-bottom: 0;
}
.editheader .product ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-left: 0;
}
.editheader .product ul li {
  font-size: 16px;
  color: #74777a;
  text-align: left;
  list-style: none;
}

/* .editheader .product ul li:first-child,
.editheader .product ul li:last-child {
width: 25%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
}
.editheader .product ul li:nth-child(2) {
width: 50%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
} */
.editproduct .el-tabs__item {
  width: 150px;
  height: 50px;
  margin: 0;
  margin-top: 20px;
  font-family: auto;
  font-size: 16px;
  line-height: 50px;
}
.editproduct .el-tabs__header {
  margin: 0;
}
.editproduct .el-tabs__content {
  box-sizing: border-box;
  padding: 20px 10px 0 10px;
  background: #f4f4f4;
}
.editproduct .el-tab-pane {
  box-sizing: border-box;
  padding-top: 10px;
  background: #ffffff;
}
.editproduct .el-dialog__body {
  padding: 0 20px;
}
.editproduct .inputnumber {
  width: auto;
}
.editproduct .el-table td,
.editproduct .el-table th {
  padding: 5px 0;
}
.editproduct .warning {
  width: 100%;
  color: #ffffff;
  background: #272822;
}
.editproduct .error {
  width: 100%;
  color: #f56c6c;
  background: #272822;
}
.editproduct .el-form-item {
  margin-bottom: 5px;
}
::v-deep .el-form-item__content {
  /*line-height: 24px !important;*/
  /*margin-left: 0;*/
  /*clear: both;*/
  /*margin-top: -25px !important;*/
  /*color: pink;*/
}
::v-deep .el-form-item__label {
  height: 48px;
  line-height: 30px;
}
::v-deep .el-form-item--mini .el-form-item__error {
  margin-top: -13px;
}
.editproduct .el-dialog__header {
  border-bottom: 1px solid #dddddd;
}
.editproduct .el-cascader {
  width: 60%;
}
.editproduct .el-cascader .el-input__inner {
  height: 30px;
}
.editproduct .topiccontent {
  box-sizing: border-box;
  padding: 10px;
}
.editproduct .topicform .el-select {
  width: 100%;
}
.editproduct .row-expand-cover td:first-child .el-icon-arrow-right {
  visibility: hidden;
}

/* .editproduct .row-expand-cover + tr {
display: none;
} */
.editproduct .el-table__expanded-cell {
  left: 100px;
  box-sizing: border-box;
  padding: 20px 0 !important;
  margin: 0 auto;
  text-align: center;
}
.editproduct .el-table__expanded-cell .el-table th.is-leaf {
  background: #ced7de9c;
}

/* .editproduct #pane-sixeth {
display: flex;
} */
.editproduct .el-col-2 {
  text-align: center;
}
.green_active {
  color: green;
}
.red_active {
  color: red;
}
.wumoxing .el-form-item__content {
  margin-left: 10px;
}
.task_collection .el-form-item__content {
  clear: none;
}
.task_collection .el-form-item {
  margin-bottom: 10px;
}

