/*!
 *  build: 杭州数蛙科技有限公司 
 *  copyright: dgiot-dashboard 
 *  author: h7ml(h7ml@qq.com) 
 *  Time: 2021-12-31 05:59:03
 */
[data-v-05840f64]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}
.dashboard-container main{position:relative;top:20px;height:100vh;margin:0 auto;text-align:center}
[data-v-2bcb32d8]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}
[data-v-07663408]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.instruct[data-v-07663408]{box-sizing:border-box;min-height:100%;padding:20px;background:#fff}.instruct .instruct_button[data-v-07663408]{display:flex;flex-direction:row-reverse;flex-direction:unset;justify-content:space-between}.instruct .instruct_table[data-v-07663408]{margin-top:20px}.instruct[data-v-07663408]  .el-select--small{width:100%}
