/*!
 *  build: 杭州数蛙科技有限公司 
 *  copyright: dgiot-dashboard 
 *  author: h7ml(h7ml@qq.com) 
 *  Time: 2022年06月27日16时30分54秒
 */
[data-v-5cec037a]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.equipment[data-v-5cec037a]{box-sizing:border-box;width:100%;height:100%;padding:20px}.equipment .equ_header[data-v-5cec037a]{box-sizing:border-box;width:100%;height:60px;padding-left:40px}.equipment .equ_header ul[data-v-5cec037a]{box-sizing:border-box;display:flex;padding-left:20px}.equipment .equ_header ul li[data-v-5cec037a]{width:200px;height:60px;text-align:center;list-style:none;border-right:1px solid #ccc}.equipment .equ_header ul li[data-v-5cec037a]:last-child{flex-grow:2;text-align:right;border:0}.equipment .equ_header ul li[data-v-5cec037a]:nth-child(4){border:0}.equipment .equ_header ul li p[data-v-5cec037a]{font-size:14px;line-height:0;color:#666}

.equipment .el-tabs__item {
    height: 50px;
    margin: 0;
    margin-top: 20px;
    font-family: auto;
    font-size: 16px;
    line-height: 50px;
}
.equipment .el-tabs__header {
    margin: 0;
}
.equipment .el-tabs__content {
    box-sizing: border-box;
    padding: 20px;
    background: #f4f4f4;
}
.equipment #pane-first {
    box-sizing: border-box;
    padding: 10px;
    background: #ffffff;
}
.equipment #pane-second {
    box-sizing: border-box;
    padding: 10px;
    background: #ffffff;
}
.equipment #pane-first .equdevices .el-input {
    width: 200px;
}
.equipment .el-dialog__footer {
    border-top: 1px solid #cccccc;
}
.equipment .devicecontent .el-form {
    display: flex;
    flex-wrap: wrap;
}
.equipment .devicecontent .el-form .el-input--suffix .el-input__inner {
    padding: 0 15px;
}
.equipment .devicecontent .el-form .el-icon-plus {
    width: 40px;
    height: 40px;
    margin-right: -4px;
    line-height: inherit;
    color: white;
    cursor: pointer;
    background: cornflowerblue;
}
.equipment .devicecontent .el-form .el-form-item {
    width: 50%;
}
.equipment .devicecontent .el-form .el-form-item:last-child {
    width: 100%;
}
.equipment .devicecontent .el-form .el-select {
    width: 100%;
}
.equipment .ACTIVE,
  .equipment .ONLINE {
    color: green;
}
.equipment .OFFLINE,
  .equipment .UNACTIVE {
    color: red;
}
.equipment .selectdetail {
    margin: 10px 0;
}

  /* .equipment .devicecontent .el-form .el-form-item .is-required:not(.is-no-asterisk):after{
    content: '*';
    color: #F56C6C;
    margin-right: 4px;
} */
  /* .equipment .devicecontent .el-form .el-form-item__label:before{
    content:''
}
.equipment .devicecontent .el-form .el-form-item__label:after{
    content: '*';
    color: #F56C6C;
    margin-right: 4px;
} */


.devproduct[data-v-f9a47bc6] {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}


.devproduct .el-tabs__header {
  margin: 0;
}
.devproduct .el-tabs__item {
  height: 50px;
  margin: 0;
  margin-top: 20px;
  font-family: auto;
  font-size: 16px;
  line-height: 50px;
}
.devproduct .el-tabs__content {
  box-sizing: border-box;
  padding: 20px;
  background: #f4f4f4;
}
.devproduct .el-tab-pane {
  background: #ffffff;
}
.devproduct .procontent,
.devproduct .prosecond {
  box-sizing: border-box;
  width: 100%;
  /*padding: 20px 10px;*/
}
.devproduct .el-dialog {
  margin-top: 5vh;
}
.devproduct .el-dialog .el-dialog__header {
  border-bottom: 1px solid #cccccc;
}
.devproduct .el-dialog .el-cascader,
.devproduct .el-dialog .el-select {
  width: 100%;
}
.devproduct .el-dialog .el-form {
  box-sizing: border-box;
  padding: 0 10px;
}
.devproduct .el-dialog .el-form .el-form-item {
  margin-bottom: 5px;
}
.devproduct .el-dialog .el-form .el-form-item__content {
  margin-left: 10px;
  clear: both;
}
.devproduct .avatar-uploader {
  display: inline-block;
}
.avatar-uploader .el-upload {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  width: 150px;
  height: 150px;
  font-size: 28px;
  line-height: 150px;
  color: #8c939d;
  text-align: center;
  border: 1px dashed #cccccc;
}
.avatar {
  display: block;
  width: 150px;
  height: 150px;
}

/* .devproduct .el-icon-close{
    position:absolute;
    right:0;
  } */

.dialog-map,.map{display:block;width:100%;height:300px}
[data-v-60c04d1a]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}@media screen and (max-width: 600px){.multipane[data-v-60c04d1a]{width:500px}.multipane .equtabs[data-v-60c04d1a]{width:500px}.multipane .pane[data-v-60c04d1a]{width:500px}.multipane .equde_wrap[data-v-60c04d1a]{width:500px}.multipane .equde_wrap .equdevices[data-v-60c04d1a]{width:100%}.multipane .equde_wrap .equdevices .tabstable[data-v-60c04d1a]{width:90%}.multipane .equde_wrap .equdevices .tabstable .tab_wrap_1[data-v-60c04d1a]{width:500px}.multipane .equde_wrap .equdevices .tabstable .tab_wrap_1 .operation_right[data-v-60c04d1a]{width:100px}.el-tabs[data-v-60c04d1a]{width:100%}.el-tabs__content .el-form[data-v-60c04d1a]{width:100%}.el-tabs__content .el-form .el-row[data-v-60c04d1a]{display:flex;flex-direction:column;width:100%}.el-tabs__content .el-form .el-row .el-col-12[data-v-60c04d1a]{width:80%}}.equtabs[data-v-60c04d1a]{margin-top:-40px;overflow-x:hidden;overflow-y:scroll}.equtabs .equ_header[data-v-60c04d1a]{box-sizing:border-box;width:100%;margin:0 auto}.equtabs .equ_header .text[data-v-60c04d1a]{font-size:14px}.equtabs .equ_header .item[data-v-60c04d1a]{margin-bottom:18px}.equtabs .equ_header .clearfix[data-v-60c04d1a]:before,.equtabs .equ_header .clearfix[data-v-60c04d1a]:after{display:table;content:""}.equtabs .equ_header .clearfix[data-v-60c04d1a]:after{clear:both}.equtabs .equ_header .box-card[data-v-60c04d1a]{margin:0 20px}.deviceTree[data-v-60c04d1a]{overflow-x:scroll}.deviceTree[data-v-60c04d1a]  .el-tree{height:auto;overflow-x:scroll}.equipment .el-tabs__item[data-v-60c04d1a]{height:50px;margin:0;margin-top:20px;font-family:auto;font-size:16px;line-height:50px}.equipment .el-tabs__header[data-v-60c04d1a]{margin:0}.equipment .el-tabs__content[data-v-60c04d1a]{box-sizing:border-box;padding:0}.equipment #pane-first[data-v-60c04d1a]{box-sizing:border-box;background:#fff}.equipment #pane-second[data-v-60c04d1a]{box-sizing:border-box;padding:10px;background:#fff}.equipment #pane-first .equdevices .el-input[data-v-60c04d1a]{width:200px}.equipment .el-dialog__footer[data-v-60c04d1a]{border-top:1px solid #ccc}.equipment .devicecontent .el-form[data-v-60c04d1a]{display:flex;flex-wrap:wrap}.equipment .devicecontent .el-form .el-input--suffix .el-input__inner[data-v-60c04d1a]{padding:0 15px}.equipment .devicecontent .el-form .el-icon-plus[data-v-60c04d1a]{width:40px;height:40px;margin-right:-4px;line-height:inherit;color:#fff;cursor:pointer;background:#6495ed}.equipment .devicecontent .el-form .el-form-item[data-v-60c04d1a]{width:50%}.equipment .devicecontent .el-form .el-form-item[data-v-60c04d1a]:last-child{width:100%}.equipment .devicecontent .el-form .el-select[data-v-60c04d1a]{width:100% !important}.equipment .ACTIVE[data-v-60c04d1a],.equipment .ONLINE[data-v-60c04d1a]{color:green}.equipment .OFFLINE[data-v-60c04d1a],.equipment .UNACTIVE[data-v-60c04d1a]{color:red}.equipment .selectdetail[data-v-60c04d1a]{max-width:200px;margin:10px 0}.mailtable .cloumn[data-v-60c04d1a]{font-weight:bold;color:#74777a;text-align:left;background:#fafafc;border-right:1px solid #ebecec;border-bottom:1px solid #ebecec}.mailtable td[data-v-60c04d1a]{box-sizing:border-box;padding:15px;font-size:14px;color:#74777a;text-align:left;border:1px solid #ebecec}
