/*!
 *  build: 杭州数蛙科技有限公司 
 *  copyright: dgiot-dashboard 
 *  author: h7ml(h7ml@qq.com) 
 *  Time: 2022年06月27日16时31分52秒
 */
[data-v-7c917f6c]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}
.dashboard-container main{position:relative;top:20px;height:100vh;margin:0 auto;text-align:center}
[data-v-2da43cc9]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}
[data-v-c9b3dd86]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.instruct[data-v-c9b3dd86]{box-sizing:border-box;min-height:100%;padding:20px;background:#fff}.instruct .instruct_button[data-v-c9b3dd86]{display:flex;flex-direction:row-reverse;flex-direction:unset;justify-content:space-between}.instruct .instruct_table[data-v-c9b3dd86]{margin-top:20px}.instruct[data-v-c9b3dd86]  .el-select--small{width:100%}
[data-v-61080db8]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}#addApp[data-v-61080db8]{width:100%;padding:20px;margin:0 auto}#addApp .head[data-v-61080db8]{display:flex;justify-content:space-between;margin:20px 0}#addApp .form[data-v-61080db8]{padding:10px 30px;border:3px solid #f7f7f7}#addApp .form .title[data-v-61080db8]{margin:10px 0;text-align:right}#addApp .form .el-form .el-col-12[data-v-61080db8]{padding:20px}@media screen and (max-width: 1100px){#addApp .form .el-form .el-col-12[data-v-61080db8]{width:100%}}#addApp .form .el-form .el-form-item[data-v-61080db8]  .el-slider__marks-text{width:30px;margin-top:5px}#addApp .form .el-form .el-form-item[data-v-61080db8]  .el-cascader{width:100%}#addApp .form .el-form .el-form-item[data-v-61080db8]  .el-select{width:100%}#addApp .form .el-form .el-form-item[data-v-61080db8]  .el-input-number{width:100%}#addApp .btns[data-v-61080db8]{margin-top:40px;text-align:center}

.el-upload-list__item.is-success .el-upload-list__item-status-label {
  display: none;
}
.el-upload-list__item .el-icon-close {
  display: block;
}
.el-notification {
  width: 1000px;
}

[data-v-579c5f4d]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.application[data-v-579c5f4d]{box-sizing:border-box;box-sizing:border-box;width:100%;background:#fff}
[data-v-579c5f4d]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.application .el-dialog__body[data-v-579c5f4d]{padding:20px;border-bottom:1px solid #333}.application .el-dialog__header[data-v-579c5f4d]{border-bottom:1px solid #333}.application .el-dialog__title[data-v-579c5f4d]{font-size:20px;font-weight:900}.application .el-dialog[data-v-579c5f4d]{border-radius:10px}.application .grid-content[data-v-579c5f4d]{text-align:center}.application .grid-content dl dt[data-v-579c5f4d]{float:left;width:160px;overflow:hidden;clear:left;font-weight:700;text-align:right;text-overflow:ellipsis;white-space:nowrap}.application .grid-content dl dd[data-v-579c5f4d]{margin-bottom:1em;margin-left:180px;text-align:left}.application .grid-content .editor[data-v-579c5f4d]{margin:13px 0;text-align:left}.application .el-card__body[data-v-579c5f4d]{font-size:14px}.application[data-v-579c5f4d]{height:calc(100vh - 60px * 3 - 25px)}.application .appcontent .isbutton .el-button[data-v-579c5f4d]{position:absolute;top:-45px;right:10%}
[data-v-78ca6350]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}#application[data-v-78ca6350]{box-sizing:border-box;width:100%;margin:0 auto}
[data-v-ed9dc2b2]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}
[data-v-a678f2e0]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.children-container[data-v-a678f2e0]{width:100%;heigth:100%}
[data-v-40559eab]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.DeviceInfo-container[data-v-40559eab]{width:100%;heigth:100%}
[data-v-9bb62ad8]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.runningState-container[data-v-9bb62ad8]{width:100%;height:100%}
.fixdescription .ant-card-meta-description{font-size:26px !important;color:#1e49c5 !important;text-align:center !important}.el-link--inner{display:block}

.el-switch {
  display: inline !important;
}

[data-v-6f9f803e]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs[data-v-6f9f803e]{height:calc(100vh - 60px * 2.7) !important}.logs-row-tree[data-v-6f9f803e]{overflow:scroll}.logs-table[data-v-6f9f803e]  *{font-size:14px;font-weight:normal;color:#606266}
[data-v-b68e6024]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.iframe-container iframe[data-v-b68e6024]{width:100%;height:calc( 100vh - 60px - 50px - 20px * 2 - 55px )}
.proddetail {
  padding: 0 20px;
}
.diaCollLeftCls {
  width: 100%;
  height: calc(100vh - 100px);
}

.ace_editor3 {
  height: calc(100vh - 100px);
}

.diaCollRightCls {
  width: 100%;
  height: calc(100vh - 100px);
}

.editproduct {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.mailtable .cloumn {
  width: 200px;
  font-weight: 400;
  font-weight: bold;
  color: #74777a;
  text-align: left;
  background: #fafafc;
  border-right: 1px solid #ebecec;
  border-bottom: 1px solid #ebecec;
}

.mailtable td {
  box-sizing: border-box;
  padding: 15px;
  font-size: 14px;
  color: #74777a;
  text-align: left;
  border: 1px solid #ebecec;
}

.mailtable .notbottom {
  border-bottom: 0;
}

.editheader .product ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-left: 0;
}

.editheader .product ul li {
  font-size: 16px;
  color: #74777a;
  text-align: left;
  list-style: none;
}

/* .editheader .product ul li:first-child,
.editheader .product ul li:last-child {
width: 25%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
}
.editheader .product ul li:nth-child(2) {
width: 50%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
} */
.editproduct .el-tabs__item {
  width: 150px;
  height: 50px;
  margin: 0;
  margin-top: 20px;
  font-family: auto;
  font-size: 16px;
  line-height: 50px;
}

.editproduct .el-tabs__header {
  margin: 0;
}

.editproduct .el-tabs__content {
  box-sizing: border-box;
  padding: 20px 10px 0 10px;
  background: #f4f4f4;
}

.editproduct .el-tab-pane {
  box-sizing: border-box;
  padding-top: 10px;
  background: #ffffff;
}

.editproduct .el-dialog__body {
  padding: 0 20px;
}

.editproduct .inputnumber {
  width: auto;
}

.editproduct .el-table td,
.editproduct .el-table th {
  padding: 5px 0;
}

.editproduct .warning {
  width: 100%;
  color: #ffffff;
  background: #272822;
}

.editproduct .error {
  width: 100%;
  color: #f56c6c;
  background: #272822;
}

.editproduct .el-form-item {
  margin-bottom: 5px;
}

::v-deep .el-form-item__content {
  /*line-height: 24px !important;*/
  /*margin-left: 0;*/
  /*clear: both;*/
  /*margin-top: -25px !important;*/
  /*color: pink;*/
}

::v-deep .el-form-item__label {
  height: 48px;
  line-height: 30px;
}

::v-deep .el-form-item--mini .el-form-item__error {
  margin-top: -13px;
}

.editproduct .el-dialog__header {
  border-bottom: 1px solid #dddddd;
}

.editproduct .el-cascader {
  width: 60%;
}

.editproduct .el-cascader .el-input__inner {
  height: 30px;
}

.editproduct .topiccontent {
  box-sizing: border-box;
  padding: 10px;
}

.editproduct .topicform .el-select {
  width: 100%;
}

.editproduct .row-expand-cover td:first-child .el-icon-arrow-right {
  visibility: hidden;
}

/* .editproduct .row-expand-cover + tr {
display: none;
} */
.editproduct .el-table__expanded-cell {
  left: 100px;
  box-sizing: border-box;
  padding: 20px 0 !important;
  margin: 0 auto;
  text-align: center;
}

.editproduct .el-table__expanded-cell .el-table th.is-leaf {
  background: #ced7de9c;
}

/* .editproduct #pane-sixeth {
display: flex;
} */
.editproduct .el-col-2 {
  text-align: center;
}

.green_active {
  color: green;
}

.red_active {
  color: red;
}

.wumoxing .el-form-item__content {
  margin-left: 10px;
}

.task_collection .el-form-item__content {
  clear: none;
}

.task_collection .el-form-item {
  margin-bottom: 10px;
}


.ivu-modal-body {
  padding: 0;
}
.el-main {
  padding: 0;
}

[data-v-7216d0ee]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.xinmahe-container[data-v-7216d0ee]{width:100%;height:100%}.xinmahe-container .ACTIVE[data-v-7216d0ee],.xinmahe-container .ONLINE[data-v-7216d0ee]{color:green}.xinmahe-container .OFFLINE[data-v-7216d0ee],.xinmahe-container .UNACTIVE[data-v-7216d0ee]{color:red}
[data-v-426149b0]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}[data-v-426149b0] .el-tabs__header{margin:0}[data-v-426149b0] .el-icon-time{display:none}[data-v-426149b0] .el-date-editor--datetime input{padding:0 10px}[data-v-426149b0] .el-card{overflow:hidden;color:#303133;background-color:#f4f4f4 !important;border:0px solid #ebeef5;border-radius:0px;transition:.3s}.chartsinfo[data-v-426149b0]{margin-top:15px}.chartsinfo .chartsmain[data-v-426149b0]{margin:30px 0}.editdevices[data-v-426149b0]{box-sizing:border-box;width:100%;height:100%;padding:0 20px}.editdevices .OFFLINE[data-v-426149b0]{color:red}.editdevices .ACTIVE[data-v-426149b0],.editdevices .ONLINE[data-v-426149b0]{color:green}.mailtable .cloumn[data-v-426149b0]{font-weight:bold;color:#74777a;text-align:left;background:#fafafc;border-right:1px solid #ebecec;border-bottom:1px solid #ebecec}.thirdtb[data-v-426149b0]{height:76vh;background:#f4f4f4}.editdevices .updatedtable[data-v-426149b0]{box-sizing:border-box;width:280px;height:180px;padding-left:20px;margin:20px 20px 0 0;font-size:50px;line-height:40px;list-style:none;border:1px solid #c0c4cc;border-radius:5px;box-shadow:10px 10px 10px 5px #f4f4f4}.editdevices .buttonactive[data-v-426149b0]{color:#fff;background-color:#409eff}.mailtable td[data-v-426149b0]{box-sizing:border-box;padding:12px;font-size:14px;color:#74777a;text-align:left;border:1px solid #ebecec}.childrendevices[data-v-426149b0]{box-sizing:border-box;width:100%;height:auto;padding:10px;background:#fff}
@media screen and (max-width: 600px){.editdevices .el-tabs__item{height:50px;margin:0;margin-top:5px;font-family:auto;font-size:12px;line-height:50px}.el-tabs{width:560px;font-size:12px}.mailtable tr .cloumn{font-size:12px}.mailtable td{width:70px;padding:1px;font-size:10px}}@media screen and (min-width: 601px){.editdevices .el-tabs__item{height:50px;margin:0;margin-top:20px;font-family:auto;font-size:16px;line-height:50px}}.editdevices .el-tabs__content{box-sizing:border-box;padding:20px;background:#f4f4f4}.editdevices .childrendevices .el-form-item:last-child{float:right}.editdevices .childdialog .el-form-item__content{clear:both}.editdevices .childdialog .el-form-item__content .el-select{width:100%}.fontSize{font-size:12px;color:#666}.editdevices .svg-icon{width:3rem;height:3rem;margin-top:5px}.stla{overflow:hidden;font-family:fantasy;font-size:25px;color:#666;text-align:center;text-overflow:ellipsis;white-space:nowrap}.ht7{height:70px}

.devproduct[data-v-526a82a4] {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}


.devproduct .el-tabs__header {
  margin: 0;
}
.devproduct .el-tabs__item {
  height: 50px;
  margin: 0;
  margin-top: 20px;
  font-family: auto;
  font-size: 16px;
  line-height: 50px;
}
.devproduct .el-tabs__content {
  box-sizing: border-box;
  padding: 20px;
  background: #f4f4f4;
}
.devproduct .el-tab-pane {
  background: #ffffff;
}
.devproduct .procontent,
.devproduct .prosecond {
  box-sizing: border-box;
  width: 100%;
  /*padding: 20px 10px;*/
}
.devproduct .el-dialog {
  margin-top: 5vh;
}
.devproduct .el-dialog .el-dialog__header {
  border-bottom: 1px solid #cccccc;
}
.devproduct .el-dialog .el-cascader,
.devproduct .el-dialog .el-select {
  width: 100%;
}
.devproduct .el-dialog .el-form {
  box-sizing: border-box;
  padding: 0 10px;
}
.devproduct .el-dialog .el-form .el-form-item {
  margin-bottom: 5px;
}
.devproduct .el-dialog .el-form .el-form-item__content {
  margin-left: 10px;
  clear: both;
}
.devproduct .avatar-uploader {
  display: inline-block;
}
.avatar-uploader .el-upload {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  width: 150px;
  height: 150px;
  font-size: 28px;
  line-height: 150px;
  color: #8c939d;
  text-align: center;
  border: 1px dashed #cccccc;
}
.avatar {
  display: block;
  width: 150px;
  height: 150px;
}

/* .devproduct .el-icon-close{
  position:absolute;
  right:0;
} */

[data-v-6759c7f0]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}[data-v-6759c7f0] .el-tabs__header{margin:0}[data-v-6759c7f0] .el-icon-time{display:none}[data-v-6759c7f0] .el-date-editor--datetime input{padding:0 10px}[data-v-6759c7f0] .el-card{overflow:hidden;color:#303133;background-color:#f4f4f4 !important;border:0px solid #ebeef5;border-radius:0px;transition:.3s}.chartsinfo[data-v-6759c7f0]{margin-top:15px}.chartsinfo .chartsmain[data-v-6759c7f0]{margin:30px 0}.editdevices[data-v-6759c7f0]{box-sizing:border-box;width:100%;height:100%;padding:0 20px}.editdevices .OFFLINE[data-v-6759c7f0]{color:red}.editdevices .ACTIVE[data-v-6759c7f0],.editdevices .ONLINE[data-v-6759c7f0]{color:green}.mailtable .cloumn[data-v-6759c7f0]{font-weight:bold;color:#74777a;text-align:left;background:#fafafc;border-right:1px solid #ebecec;border-bottom:1px solid #ebecec}.thirdtb[data-v-6759c7f0]{height:76vh;background:#f4f4f4}.editdevices .updatedtable[data-v-6759c7f0]{box-sizing:border-box;width:280px;height:180px;padding-left:20px;margin:20px 20px 0 0;font-size:50px;line-height:40px;list-style:none;border:1px solid #c0c4cc;border-radius:5px;box-shadow:10px 10px 10px 5px #f4f4f4}.editdevices .buttonactive[data-v-6759c7f0]{color:#fff;background-color:#409eff}.mailtable td[data-v-6759c7f0]{box-sizing:border-box;padding:12px;font-size:14px;color:#74777a;text-align:left;border:1px solid #ebecec}.childrendevices[data-v-6759c7f0]{box-sizing:border-box;width:100%;height:auto;padding:10px;background:#fff}
@media screen and (max-width: 600px){.editdevices .el-tabs__item{height:50px;margin:0;margin-top:5px;font-family:auto;font-size:12px;line-height:50px}.el-tabs{width:560px;font-size:12px}.mailtable tr .cloumn{font-size:12px}.mailtable td{width:70px;padding:1px;font-size:10px}}@media screen and (min-width: 601px){.editdevices .el-tabs__item{height:50px;margin:0;margin-top:20px;font-family:auto;font-size:16px;line-height:50px}}.editdevices .el-tabs__content{box-sizing:border-box;padding:20px;background:#f4f4f4}.editdevices .childrendevices .el-form-item:last-child{float:right}.editdevices .childdialog .el-form-item__content{clear:both}.editdevices .childdialog .el-form-item__content .el-select{width:100%}.fontSize{font-size:12px;color:#666}.editdevices .svg-icon{width:3rem;height:3rem;margin-top:5px}.stla{overflow:hidden;font-family:fantasy;font-size:25px;color:#666;text-align:center;text-overflow:ellipsis;white-space:nowrap}.ht7{height:70px}
[data-v-421e4474]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.gateway[data-v-421e4474]{box-sizing:border-box;width:100%;height:100%;padding:20px;background:#fff}.gateway .wayheader[data-v-421e4474]{width:100%;height:400px}.gateway .wayheader .wayheaderone[data-v-421e4474]{box-sizing:border-box;width:100%;height:80px;padding:15px;background:#67c23a}.gateway .wayheader .wayheaderone .oneheader[data-v-421e4474]{display:inline-block;width:200px;height:50px;margin:0 auto;font-size:16px;line-height:50px;color:#fff;text-align:center;background:#409eff}.gateway .wayheader .wayheaderone .twoheader[data-v-421e4474]{display:inline-block;width:200px;height:50px;margin:0 auto;margin-left:100px;font-size:14px;line-height:50px;text-align:center;background:#909399}.gateway .wayheader .wayheaderone .threeheader[data-v-421e4474]{display:inline-block;width:300px;height:50px;margin:0 auto;margin-left:100px;font-size:14px;line-height:50px;text-align:center;background:#909399}
[data-v-7e7ca3c7]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.group[data-v-7e7ca3c7]{position:relative;display:flex;margin:20px}.group .custom-tree-node[data-v-7e7ca3c7]{width:100%}.group .custom-tree-node .el-input[data-v-7e7ca3c7]{width:60%}.group .custom-tree-node i[data-v-7e7ca3c7]{margin-left:5px}.group[data-v-7e7ca3c7]  .el-drawer__body{margin:30px;background:#fff !important}.group[data-v-7e7ca3c7]  .el-tree-node__content{height:30px}@media screen and (max-width: 960px){.group[data-v-7e7ca3c7]  .el-drawer{z-index:999;width:70% !important}}.group[data-v-7e7ca3c7]  .setting{position:absolute;top:0;right:20px;font-size:20px;cursor:pointer}.group[data-v-7e7ca3c7]  .el-header,.group[data-v-7e7ca3c7]  .el-footer{background-color:#fff}.group[data-v-7e7ca3c7]  .el-main{background-color:#fff}.group .tree[data-v-7e7ca3c7]{padding:0;margin:0;overflow:hidden;font-size:14px}.group .main[data-v-7e7ca3c7]{flex:1}
.proddetail {
  padding: 0 20px;
}
.diaCollLeftCls {
  width: 100%;
  height: calc(100vh - 100px);
}
.ace_editor3 {
  height: calc(100vh - 100px);
}
.diaCollRightCls {
  width: 100%;
  height: calc(100vh - 100px);
}
.editproduct {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.mailtable .cloumn {
  width: 200px;
  font-weight: 400;
  font-weight: bold;
  color: #74777a;
  text-align: left;
  background: #fafafc;
  border-right: 1px solid #ebecec;
  border-bottom: 1px solid #ebecec;
}
.mailtable td {
  box-sizing: border-box;
  padding: 15px;
  font-size: 14px;
  color: #74777a;
  text-align: left;
  border: 1px solid #ebecec;
}
.mailtable .notbottom {
  border-bottom: 0;
}
.editheader .product ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-left: 0;
}
.editheader .product ul li {
  font-size: 16px;
  color: #74777a;
  text-align: left;
  list-style: none;
}

/* .editheader .product ul li:first-child,
.editheader .product ul li:last-child {
width: 25%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
}
.editheader .product ul li:nth-child(2) {
width: 50%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
} */
.editproduct .el-tabs__item {
  width: 150px;
  height: 50px;
  margin: 0;
  margin-top: 20px;
  font-family: auto;
  font-size: 16px;
  line-height: 50px;
}
.editproduct .el-tabs__header {
  margin: 0;
}
.editproduct .el-tabs__content {
  box-sizing: border-box;
  padding: 20px 10px 0 10px;
  background: #f4f4f4;
}
.editproduct .el-tab-pane {
  box-sizing: border-box;
  padding-top: 10px;
  background: #ffffff;
}
.editproduct .el-dialog__body {
  padding: 0 20px;
}
.editproduct .inputnumber {
  width: auto;
}
.editproduct .el-table td,
.editproduct .el-table th {
  padding: 5px 0;
}
.editproduct .warning {
  width: 100%;
  color: #ffffff;
  background: #272822;
}
.editproduct .error {
  width: 100%;
  color: #f56c6c;
  background: #272822;
}
.editproduct .el-form-item {
  margin-bottom: 5px;
}
::v-deep .el-form-item__content {
  /*line-height: 24px !important;*/
  /*margin-left: 0;*/
  /*clear: both;*/
  /*margin-top: -25px !important;*/
  /*color: pink;*/
}
::v-deep .el-form-item__label {
  height: 48px;
  line-height: 30px;
}
::v-deep .el-form-item--mini .el-form-item__error {
  margin-top: -13px;
}
.editproduct .el-dialog__header {
  border-bottom: 1px solid #dddddd;
}
.editproduct .el-cascader {
  width: 60%;
}
.editproduct .el-cascader .el-input__inner {
  height: 30px;
}
.editproduct .topiccontent {
  box-sizing: border-box;
  padding: 10px;
}
.editproduct .topicform .el-select {
  width: 100%;
}
.editproduct .row-expand-cover td:first-child .el-icon-arrow-right {
  visibility: hidden;
}

/* .editproduct .row-expand-cover + tr {
display: none;
} */
.editproduct .el-table__expanded-cell {
  left: 100px;
  box-sizing: border-box;
  padding: 20px 0 !important;
  margin: 0 auto;
  text-align: center;
}
.editproduct .el-table__expanded-cell .el-table th.is-leaf {
  background: #ced7de9c;
}

/* .editproduct #pane-sixeth {
display: flex;
} */
.editproduct .el-col-2 {
  text-align: center;
}
.green_active {
  color: green;
}
.red_active {
  color: red;
}
.wumoxing .el-form-item__content {
  margin-left: 10px;
}
.task_collection .el-form-item__content {
  clear: none;
}
.task_collection .el-form-item {
  margin-bottom: 10px;
}

