/*!
 *  build: 杭州数蛙科技有限公司 
 *  copyright: dgiot-dashboard 
 *  author: h7ml(h7ml@qq.com) 
 *  Time: 2022年07月15日14时27分54秒
 */
[data-v-7c917f6c]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}
[data-v-2da43cc9]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}
[data-v-c9b3dd86]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.instruct[data-v-c9b3dd86]{box-sizing:border-box;min-height:100%;padding:20px;background:#fff}.instruct .instruct_button[data-v-c9b3dd86]{display:flex;flex-direction:row-reverse;flex-direction:unset;justify-content:space-between}.instruct .instruct_table[data-v-c9b3dd86]{margin-top:20px}.instruct[data-v-c9b3dd86] .el-select--small{width:100%}
[data-v-61080db8]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}#addApp[data-v-61080db8]{width:100%;padding:20px;margin:0 auto}#addApp .head[data-v-61080db8]{display:flex;justify-content:space-between;margin:20px 0}#addApp .form[data-v-61080db8]{padding:10px 30px;border:3px solid #f7f7f7}#addApp .form .title[data-v-61080db8]{margin:10px 0;text-align:right}#addApp .form .el-form .el-col-12[data-v-61080db8]{padding:20px}@media screen and (max-width: 1100px){#addApp .form .el-form .el-col-12[data-v-61080db8]{width:100%}}#addApp .form .el-form .el-form-item[data-v-61080db8] .el-slider__marks-text{width:30px;margin-top:5px}#addApp .form .el-form .el-form-item[data-v-61080db8] .el-cascader{width:100%}#addApp .form .el-form .el-form-item[data-v-61080db8] .el-select{width:100%}#addApp .form .el-form .el-form-item[data-v-61080db8] .el-input-number{width:100%}#addApp .btns[data-v-61080db8]{margin-top:40px;text-align:center}

.el-upload-list__item.is-success .el-upload-list__item-status-label {
  display: none;
}
.el-upload-list__item .el-icon-close {
  display: block;
}
.el-notification {
  width: 1000px;
}

[data-v-579c5f4d]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.application[data-v-579c5f4d]{box-sizing:border-box;box-sizing:border-box;width:100%;background:#fff}
[data-v-579c5f4d]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.application .el-dialog__body[data-v-579c5f4d]{padding:20px;border-bottom:1px solid #333}.application .el-dialog__header[data-v-579c5f4d]{border-bottom:1px solid #333}.application .el-dialog__title[data-v-579c5f4d]{font-size:20px;font-weight:900}.application .el-dialog[data-v-579c5f4d]{border-radius:10px}.application .grid-content[data-v-579c5f4d]{text-align:center}.application .grid-content dl dt[data-v-579c5f4d]{float:left;width:160px;overflow:hidden;clear:left;font-weight:700;text-align:right;text-overflow:ellipsis;white-space:nowrap}.application .grid-content dl dd[data-v-579c5f4d]{margin-bottom:1em;margin-left:180px;text-align:left}.application .grid-content .editor[data-v-579c5f4d]{margin:13px 0;text-align:left}.application .el-card__body[data-v-579c5f4d]{font-size:14px}.application[data-v-579c5f4d]{height:calc(100vh - 60px * 3 - 25px)}.application .appcontent .isbutton .el-button[data-v-579c5f4d]{position:absolute;top:-45px;right:10%}
[data-v-78ca6350]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}#application[data-v-78ca6350]{box-sizing:border-box;width:100%;margin:0 auto}
[data-v-ed9dc2b2]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}
[data-v-a678f2e0]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.children-container[data-v-a678f2e0]{width:100%;heigth:100%}
[data-v-40559eab]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.DeviceInfo-container[data-v-40559eab]{width:100%;heigth:100%}
[data-v-9bb62ad8]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.runningState-container[data-v-9bb62ad8]{width:100%;height:100%}
.fixdescription .ant-card-meta-description{font-size:26px !important;color:#1e49c5 !important;text-align:center !important}.el-link--inner{display:block}

.el-switch {
  display: inline !important;
}

[data-v-6f9f803e]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs[data-v-6f9f803e]{height:calc(100vh - 60px * 2.7) !important}.logs-row-tree[data-v-6f9f803e]{overflow:scroll}.logs-table[data-v-6f9f803e] *{font-size:14px;font-weight:normal;color:#606266}
[data-v-b68e6024]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.iframe-container iframe[data-v-b68e6024]{width:100%;height:calc( 100vh - 60px - 50px - 20px * 2 - 55px )}
.proddetail {
  padding: 0 20px;
}
.diaCollLeftCls {
  width: 100%;
  height: calc(100vh - 100px);
}

.ace_editor3 {
  height: calc(100vh - 100px);
}

.diaCollRightCls {
  width: 100%;
  height: calc(100vh - 100px);
}

.editproduct {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.mailtable .cloumn {
  width: 200px;
  font-weight: 400;
  font-weight: bold;
  color: #74777a;
  text-align: left;
  background: #fafafc;
  border-right: 1px solid #ebecec;
  border-bottom: 1px solid #ebecec;
}

.mailtable td {
  box-sizing: border-box;
  padding: 15px;
  font-size: 14px;
  color: #74777a;
  text-align: left;
  border: 1px solid #ebecec;
}

.mailtable .notbottom {
  border-bottom: 0;
}

.editheader .product ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-left: 0;
}

.editheader .product ul li {
  font-size: 16px;
  color: #74777a;
  text-align: left;
  list-style: none;
}

/* .editheader .product ul li:first-child,
.editheader .product ul li:last-child {
width: 25%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
}
.editheader .product ul li:nth-child(2) {
width: 50%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
} */
.editproduct .el-tabs__item {
  width: 150px;
  height: 50px;
  margin: 0;
  margin-top: 20px;
  font-family: auto;
  font-size: 16px;
  line-height: 50px;
}

.editproduct .el-tabs__header {
  margin: 0;
}

.editproduct .el-tabs__content {
  box-sizing: border-box;
  padding: 20px 10px 0 10px;
  background: #f4f4f4;
}

.editproduct .el-tab-pane {
  box-sizing: border-box;
  padding-top: 10px;
  background: #ffffff;
}

.editproduct .el-dialog__body {
  padding: 0 20px;
}

.editproduct .inputnumber {
  width: auto;
}

.editproduct .el-table td,
.editproduct .el-table th {
  padding: 5px 0;
}

.editproduct .warning {
  width: 100%;
  color: #ffffff;
  background: #272822;
}

.editproduct .error {
  width: 100%;
  color: #f56c6c;
  background: #272822;
}

.editproduct .el-form-item {
  margin-bottom: 5px;
}

::v-deep .el-form-item__content {
  /*line-height: 24px !important;*/
  /*margin-left: 0;*/
  /*clear: both;*/
  /*margin-top: -25px !important;*/
  /*color: pink;*/
}

::v-deep .el-form-item__label {
  height: 48px;
  line-height: 30px;
}

::v-deep .el-form-item--mini .el-form-item__error {
  margin-top: -13px;
}

.editproduct .el-dialog__header {
  border-bottom: 1px solid #dddddd;
}

.editproduct .el-cascader {
  width: 60%;
}

.editproduct .el-cascader .el-input__inner {
  height: 30px;
}

.editproduct .topiccontent {
  box-sizing: border-box;
  padding: 10px;
}

.editproduct .topicform .el-select {
  width: 100%;
}

.editproduct .row-expand-cover td:first-child .el-icon-arrow-right {
  visibility: hidden;
}

/* .editproduct .row-expand-cover + tr {
display: none;
} */
.editproduct .el-table__expanded-cell {
  left: 100px;
  box-sizing: border-box;
  padding: 20px 0 !important;
  margin: 0 auto;
  text-align: center;
}

.editproduct .el-table__expanded-cell .el-table th.is-leaf {
  background: #ced7de9c;
}

/* .editproduct #pane-sixeth {
display: flex;
} */
.editproduct .el-col-2 {
  text-align: center;
}

.green_active {
  color: green;
}

.red_active {
  color: red;
}

.wumoxing .el-form-item__content {
  margin-left: 10px;
}

.task_collection .el-form-item__content {
  clear: none;
}

.task_collection .el-form-item {
  margin-bottom: 10px;
}

.proddetail {
  padding: 0 20px;
}
.diaCollLeftCls {
  width: 100%;
  height: calc(100vh - 100px);
}
.ace_editor3 {
  height: calc(100vh - 100px);
}
.diaCollRightCls {
  width: 100%;
  height: calc(100vh - 100px);
}
.editproduct {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.mailtable .cloumn {
  width: 200px;
  font-weight: 400;
  font-weight: bold;
  color: #74777a;
  text-align: left;
  background: #fafafc;
  border-right: 1px solid #ebecec;
  border-bottom: 1px solid #ebecec;
}
.mailtable td {
  box-sizing: border-box;
  padding: 15px;
  font-size: 14px;
  color: #74777a;
  text-align: left;
  border: 1px solid #ebecec;
}
.mailtable .notbottom {
  border-bottom: 0;
}
.editheader .product ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-left: 0;
}
.editheader .product ul li {
  font-size: 16px;
  color: #74777a;
  text-align: left;
  list-style: none;
}

/* .editheader .product ul li:first-child,
.editheader .product ul li:last-child {
width: 25%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
}
.editheader .product ul li:nth-child(2) {
width: 50%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
} */
.editproduct .el-tabs__item {
  width: 150px;
  height: 50px;
  margin: 0;
  margin-top: 20px;
  font-family: auto;
  font-size: 16px;
  line-height: 50px;
}
.editproduct .el-tabs__header {
  margin: 0;
}
.editproduct .el-tabs__content {
  box-sizing: border-box;
  padding: 20px 10px 0 10px;
  background: #f4f4f4;
}
.editproduct .el-tab-pane {
  box-sizing: border-box;
  padding-top: 10px;
  background: #ffffff;
}
.editproduct .el-dialog__body {
  padding: 0 20px;
}
.editproduct .inputnumber {
  width: auto;
}
.editproduct .el-table td,
.editproduct .el-table th {
  padding: 5px 0;
}
.editproduct .warning {
  width: 100%;
  color: #ffffff;
  background: #272822;
}
.editproduct .error {
  width: 100%;
  color: #f56c6c;
  background: #272822;
}
.editproduct .el-form-item {
  margin-bottom: 5px;
}
::v-deep .el-form-item__content {
  /*line-height: 24px !important;*/
  /*margin-left: 0;*/
  /*clear: both;*/
  /*margin-top: -25px !important;*/
  /*color: pink;*/
}
::v-deep .el-form-item__label {
  height: 48px;
  line-height: 30px;
}
::v-deep .el-form-item--mini .el-form-item__error {
  margin-top: -13px;
}
.editproduct .el-dialog__header {
  border-bottom: 1px solid #dddddd;
}
.editproduct .el-cascader {
  width: 60%;
}
.editproduct .el-cascader .el-input__inner {
  height: 30px;
}
.editproduct .topiccontent {
  box-sizing: border-box;
  padding: 10px;
}
.editproduct .topicform .el-select {
  width: 100%;
}
.editproduct .row-expand-cover td:first-child .el-icon-arrow-right {
  visibility: hidden;
}

/* .editproduct .row-expand-cover + tr {
display: none;
} */
.editproduct .el-table__expanded-cell {
  left: 100px;
  box-sizing: border-box;
  padding: 20px 0 !important;
  margin: 0 auto;
  text-align: center;
}
.editproduct .el-table__expanded-cell .el-table th.is-leaf {
  background: #ced7de9c;
}

/* .editproduct #pane-sixeth {
display: flex;
} */
.editproduct .el-col-2 {
  text-align: center;
}
.green_active {
  color: green;
}
.red_active {
  color: red;
}
.wumoxing .el-form-item__content {
  margin-left: 10px;
}
.task_collection .el-form-item__content {
  clear: none;
}
.task_collection .el-form-item {
  margin-bottom: 10px;
}

