/*!
 *  build: 杭州数蛙科技有限公司 
 *  copyright: dgiot-dashboard 
 *  author: h7ml(h7ml@qq.com) 
 *  Time: 2021-12-30 12:46:48
 */
[data-v-6af26652]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.CloudSystem-container[data-v-6af26652]{width:100%;height:100%}.CloudSystem-container-container[data-v-6af26652]{width:100%;height:100%}
[data-v-ce3ada88]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs[data-v-ce3ada88]{height:calc(100vh - 60px * 2.7) !important}.logs[data-v-ce3ada88]  .el-table__body,.logs[data-v-ce3ada88]  .el-table__empty-block{width:100% !important}.logs-row-tree[data-v-ce3ada88]{overflow:scroll}

.my-label {
  font-size: 16px !important;
  text-align: center !important;
}

[data-v-7febf32e]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs[data-v-7febf32e]{height:calc(100vh - 60px * 2.7) !important}.logs-row-tree[data-v-7febf32e]{overflow:scroll}.logs-table[data-v-7febf32e]  *{font-size:14px;font-weight:normal;color:#606266}
[data-v-41505de2]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs-row-tree[data-v-41505de2]{overflow:scroll}
[data-v-03756310]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.logs[data-v-03756310]{height:calc(100vh - 60px * 2.7) !important}.logs-row-tree[data-v-03756310]{overflow:scroll}.logs-table[data-v-03756310]  *{font-size:14px;font-weight:normal;color:#606266}
.things-parse{width:100%;margin:20px}.things-parse .ace_editor{margin-right:80px}
.dgiot_dialog .el-dialog__header{display:none}.dgiot_dialog .dj-dialog-content{padding:0;overflow:unset}
[data-v-526a26a6]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.el-button--goon.is-active[data-v-526a26a6],.el-button--goon[data-v-526a26a6]:active{color:#fff;background:#20b2aa;border-color:#20b2aa}.el-button--goon[data-v-526a26a6]:focus,.el-button--goon[data-v-526a26a6]:hover{color:#fff;background:#48d1cc;border-color:#48d1cc}.el-button--goon[data-v-526a26a6]{color:#fff;background-color:#20b2aa;border-color:#20b2aa}[data-v-526a26a6] .row-bg .el-form-item .el-form-item__content{position:revert}[data-v-526a26a6] .el-dialog__wrapper{margin-bottom:20px}.resourcechannel[data-v-526a26a6]{box-sizing:border-box;width:100%;height:calc(100vh - 60px * 3 - 25px)}.resourcechannel[data-v-526a26a6]  .green_active{color:green}.resourcechannel[data-v-526a26a6]  .dialog-footer{text-align:center}.resourcechannel[data-v-526a26a6]  .red_active{color:red}.resourcechannel[data-v-526a26a6]  .el-tabs__item{height:50px;margin:0;margin-top:20px;font-family:auto;font-size:16px;line-height:50px}.resourcechannel[data-v-526a26a6]  .el-dialog__header{border-bottom:1px solid #ccc}.resourcechannel[data-v-526a26a6]  .el-dialog__body .el-form{display:flex;flex-wrap:wrap}.resourcechannel[data-v-526a26a6]  .el-dialog__body .el-form .el-form-item{width:100%;margin-bottom:22px}.resourcechannel[data-v-526a26a6]  .el-dialog__body .el-form .el-form-item .el-select{width:100%}@media screen and (max-width: 1350px){.resourcechannel[data-v-526a26a6]  .el-dialog__body .el-form .el-col{width:100%}}.resourcechannel[data-v-526a26a6]  .el-dialog__body ::v-deep .el-row{margin:20px 0}
[data-v-7ef6b2ee]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.modules[data-v-7ef6b2ee]{margin:20px}.modules footer[data-v-7ef6b2ee]{margin-top:20px;text-align:center}

.nodelist[data-v-045c1d7b] {
  box-sizing: border-box;
  width: 100%;
  min-height: 875px;
  padding-left: 10px;
  background: #ffffff;
}

[data-v-eb51b004]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.CloudTest-container[data-v-eb51b004]{width:100%;height:100%}.CloudTest-container-container[data-v-eb51b004]{width:100%;height:100%}
[data-v-6f38a6e7]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.statistics-container[data-v-6f38a6e7]{width:100%;height:100%}

.el-dialog__wrapper {
  transition-duration: 0.3s;
}


.el-divider__text {
  font-size: 18px;
}


.el-divider__text {
  font-size: 18px;
}
.setting {
  margin: 20px 0;
}

