/*!
 *  build: 杭州数蛙科技有限公司 
 *  copyright: dgiot-dashboard 
 *  author: h7ml(h7ml@qq.com) 
 *  Time: 2023年09月07日19时46分06秒
 */
[data-v-7ecf7315]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.konvadevice[data-v-7ecf7315]{box-sizing:border-box !important;position:relative}.konvadevice .konva_wrap[data-v-7ecf7315]{margin:0 auto}.konvadevice .konva_wrap .vue_component[data-v-7ecf7315]{position:absolute;z-index:99999}
